@import url(
    'https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap'
);

.man-description {
    font-size: 19px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 0px;
}

.manifesto {
    width: 1260px;
}

@media screen and (max-width: 1024px) {
    .manifesto {
        width: 1000px;
    }

    .man-description {
        width: 900px;
    }
}

@media screen and (max-width: 700px) {
    .manifesto {
        width: 680px;
    }
    .man-description {
        width: 580px;
    }
}